

body {
 /*	 background: red; */ 
	
}

#main {
	width: 80%;
	border: 2px solid blue;
	margin: 100px auto;
	
	
}
header {
	background: black;
	
}
header h1{
	color: #fff;
	height: 60px;
	padding: 0 0 0 50px;
	margin: 0;
}

aside {
	width: 20%;
	float: left;
    height: 450px;
	
}

aside ul li {
  display: block;
	
}

li:nth-child(2) {
	color: blue;
}

